html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: #ebebeb;
}

/* Encabezado */

.ContHeader {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: repeat(2, 1fr);
    gap: 0rem 2rem;

    align-items: center;
    justify-content: center;
   
    background-color: #fee600;
}

.ContHeader__logo {
    display: flex;
    justify-content: center;
}

.ContHeader__SearchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.ContHeader__SearchBar--bar {
    width: 100%;
    height: 4rem;
    border-radius: 3px;
    border-style: solid;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
}

.ContHeader__SearchBar--img {
    width: 3rem;
    height: 3rem;
    opacity: 40%;
}

.ContHeader__Ubicacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ContHeader__Ubicacion:hover {
    border: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.123);
}

.ContHeader__Ubicacion--texto {
    font-size: 1rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.623);
    margin: 0;
}


.ContHeader__Ubicacion--ciudad {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.623);
    margin: 0;
}

.ContHeader__nav {
    display: flex;
    justify-content: center;
}
.ContHeader__nav--item {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 0rem 1rem 0rem 1rem;
    color: rgba(0, 0, 0, 0.623);
    

}

.ContHeader__nav2 {
    display: flex;
    justify-content: end;
}

.ContHeader__nav2--item {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 0rem 1rem 0rem 1rem;
    color: rgba(0, 0, 0, 0.623);
}

/* Main */

.ContPrincipal {
    position: relative;
    
}

.Card__Hover:hover{
    color: #3483fa;
    
}

.ContPrincipal__Banner {
    position: absolute;
}

.ContPrincipal__img {
    display: flex;
    height: 100%;
    width: 100%;
    
}

.ContPrincipal__Cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
    box-sizing: border-box;
    
    gap: 1.5rem   ;

    position: relative;
    top: 25rem;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 8%, rgba(235,235,235,0.9316059187346813) 31%, rgba(235,235,235,1) 36%); 
}

.ContPrincipal__Cards--card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;

    padding: 1rem;
    width: 20rem;
    height: 32rem;
    background-color: rgb(255, 255, 255);
    border-color: rgba(0, 0, 0, 0.130);
    border-style: solid;
    border-radius: 6px;
    border-width: 1px;
}


.Card__UpText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.Card__img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    
}

.Card__img:hover,.Card__DownText:hover {
    color: #3483fa;
    cursor: pointer;
}

.Card__DownText {
    display: flex;
    justify-content: center;
    align-items: end;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #3483fa;
    background-color: #aaccff84;
    padding: 1px 1rem;

    box-sizing: border-box;
    border-radius: 5px;
}

.Card__DownText:hover {
    cursor: pointer;
}